#*******************************************************************
#java specific
*.class
#*******************************************************************
#eclipse specific
.metadata
/targer
.recommenders

.project
*/.project

.settings
*/.settings

.classpath
*/.classpath
#*******************************************************************
*.log

.idea/
**/target/
**/.idea/
**.iml
nb-configuration.xml
.metadata/
**/.settings/
**.project
**.classpath
/target/