#*******************************************************************
#java specific
*.class
#*******************************************************************
#eclipse specific
.metadata
/targer
.recommenders

.project
*/.project

.settings
*/.settings

.classpath
*/.classpath
#*******************************************************************
*.log