#*******************************************************************
#java specific
*.class
#*******************************************************************
#eclipse specific
.metadata
/targer

.project
*/.project

.settings
*/.settings

.classpath
*/.classpath
#*******************************************************************
*.log